<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/meta.ejs') %>
  </head>
  <body>
    <h1> Spotify Skip </h1>
    <div class="controls">
      <button>←</button>
      <button>▶</button>
      <button>→</button>
    </div>
  </body>
</html>
