<%- include('partials/meta') %>
<main>
  <div class="team1">
    <h2>Team 1</h2>
    <dl>
      <dt>Score</dt>
      <dd>1</dd>
    </dl>
  </div>
  <div class="team2">
    <h2>Team 2</h2>
    <dl>
      <dt>Score</dt>
      <dd>1</dd>
    </dl>
  </div>
  <button id="reset">Reset</button>
</main>
