/* ==========================================================================
  Reset
   ========================================================================== */
body {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

/* ==========================================================================
  Layout
   ========================================================================== */

div{
  width: 50vw;
}

main {
  display: flex;
  height: 100vh;
  position: relative;
}

section {
  padding: 5em;
}

/* ==========================================================================
  Color
   ========================================================================== */

.team1 {
  background-color: blue;
  text-align: left;
}

.team2 {
  background-color: red;
  text-align: right;
}

/* ==========================================================================
  Typography
   ========================================================================== */
h2 {
  font-size: 10em;
}

button {
  position: absolute;
  margin: auto;
  bottom: 10em;
  left: 0;
  right: 0;
  display: block;
  width: 5em;
  z-index: 5;
}
